body {
    margin: 0;
}

#wrapper {
    max-width: 1500px;
    margin: auto;
    line-height: 0;
}

#bg {
    position: relative;
    margin: 0;
}

header {
    position: absolute;
    font-family: HelveticaCyr200;
    color: #061721;
    font-size: 60px;
    top: -30%;
    right: -38%;
}

@font-face {
    font-family: ThinHelvetica;
    src: url('../fonts/HelveticaNeue-ThinCond.otf');
}

@font-face {
    font-family: HelveticaCyr200;
    src: url('../fonts/HelveticaNeueUltraLight.ttf');
}

@font-face {
    font-family: HelveticaCyr300;
    src: url('../fonts/helveticaneuecyr-light.otf');
}

@font-face {
    font-family: HelveticaCyr;
    src: url('../fonts/helveticaneuecyr-roman.otf');
}

#weather_banner {
    background-image: url(../img/mask-copy.png);
    position: absolute;
    height: 357px;
    width: 902px;
    top: 32%;
    left: 129px;
}

#temperature {
    position: absolute;
    font-family: ThinHelvetica;
    color: #ffffff;
    font-size: 159.99px;
    bottom: 0%;
    left: 12%;
}

#city {
    position: absolute;
    font-family: HelveticaNeueCyr;
    color: #fefefe;
    font-size: 72.01px;
    text-align: center;
    font-weight: normal;
    top: 25%;
    left: 45%;
    text-align: center;
}

#time {
    position: absolute;
    font-family: ThinHelvetica;
    color: #ffffff;
    font-size: 47.99px;
    font-weight: 100;
    bottom: 20%;
    left: 45%;
}

#precipitation {
    position: absolute;
    left: 70%;
    top: 25%;
}

#slider {
    position: relative;
    right: -100%;
    bottom: 0%;
}

#slider {
    width: 340px;
    height: 357px;
    overflow: hidden;
}

.button {}

#slide-list {
    width: 1020px;
    height: 357px;
}

.calendar {
    display: inline-block;
    /*
    background-image: url(../img/bg.png);
*/
    
    background-image: url(images/dayslide.png);
    width: 340px;
    height: 357px;
    right: -37.7%;
    bottom: 0%;
}

#calendar_0 {
    /*position: absolute;
    right: -17.7%;
    bottom: 0%;*/
    
    float: left;
}

#calendar_1 {
    /* position: absolute;
    right: -75%;
    bottom: 0%;*/
    
    float: left;
}

#calendar_2 {
    /* position: absolute;
    right: -112.3%;
    bottom: 0%;*/
    
    float: left;
}

#slide-list {
    display: inline-block;
}

.day_slider {
    background-color: #227e9c;
    width: 340px;
    height: 61px;
}

.day {
    /*margin-left: 35%;*/
    font-family: ThinHelvetica;
    color: #ffffff;
    font-size: 30px;
    /*left: 33%;*/
    text-align: center;
}

.date {
    margin: 100px;
    font-family: ThinHelvetica;
    color: #227e9c;
    font-size: 160.01px;
    text-align: center;
    margin-top: 40%;
}

.month {
    font-family: HelveticaCyr300;
    color: #1f7998;
    font-size: 48px;
    text-align: center;
    margin: 50px;
}

.today {
    font-family: HelveticaCyr;
    color: rgba(230, 74, 25, 0.7);
    font-size: 18px;
    text-align: center;
    margin-top: 6px;
}

.button {
    position: absolute;
    top: 7%;
}

#left_arrow {
    left: 15%;
}

#right_arrow {
    right: 15%;
}

.carousel-indicators {
    position: absolute;
    bottom: -2%;
    left: 30%;
}

.carousel-indicators li {
   display: inline-block;
    margin: 5px;
    border-radius: 50%;
    background-color: #44b1d5;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.05);
    width: 12px;
    height: 12px;
}

.carousel-indicators .active {
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 1, 0.2);
    width: 12px;
    height: 12px;
    margin: 5px;
}

#time_of_day {
    background-color: #efefef;
    width: 1500px;
    height: 368px;
    margin: 0;
}

#time_of_day hr {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 120px;
    margin-left: 161px;
    border: 0;
}

hr {
    width: 75px;
    height: 7px;
}

#gold {
    background-color: #f1c03f;
    color: #f1c03f;
}

#red {
    background-color: #e64a19;
    color: #e64a19;
}

#DeepSkyBlue {
    background-color: #45b3d9;
    color: #45b3d9;
}

#darkblue {
    background-color: #023b5b;
    color: #023b5b;
}
/*#time_of_day .daytimes {
   
    margin-right: 50px;
    margin-left: 150px;
    margin-top: 50px;
}*/

#daytimes_inline article {
    display: inline-block;
    margin-right: 80px;
    margin-left: 150px;
    margin-top: 50px;
}

#daytimes_inline section {
    display: inline-block;
    margin-left: 155px;
    margin-right: 50px;
}

.daytimes {
    font-family: ThinHelvetica;
    color: #3b484d;
    font-size: 48px;
    /*
    text-align: left;
*/
}

.p_img {
    display: inline;
}

